/* GLOBAL */
html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #111517;
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    margin-bottom: 24px;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-link {
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #111517;
}

.dark-mode {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}

.half-moon {
    width: 15px;
    height: 14px;
    margin-right: 10px;
}

.dark-mode-text {
    margin: 0;
    font-weight: 600;
    line-height: 21px;
    color: #111517;
}